* { box-sizing: border-box; } 

body { 
<<<<<<< HEAD
    
    font-family: helvetica, arial, sans-serif;
    background-color: rgb(9,28,54); }
=======
    background-color: rgb(9,28,54); 
    font-family: helvetica, arial, sans-serif;    
}
>>>>>>> master

img { width: 100%; }

#wrapper {
    margin: 0 auto;
    width: 90%;
}
                        
header img {width: 90%;
}

header h1 {
    line-height: 0;
    margin-bottom: 0;
    text-indent: -10000px;
}

nav, footer {
    color: #fff;
    background-color: rgb(9,28,54); 
    padding: 5px;                          
    margin-bottom:30px; 
    text-align:center;
    border: 3px solid #fff; 
}
                        
article  {
         display: block;
         background-color: #ffff66;
         border-radius: 5%; 
         padding: 10px; 
         margin-bottom:15px; 
                        }
                        
article h1 {
        text-align:center;
        font-size:25px; 
        color:rgb(9,28,54);
                        }


nav {
    margin-top: 40px;  
    }      
                        
                        
nav li  {display: inline;  
        text-decoration:none; 
         margin-right: 3%;
}
 

.cta, section p + a {
    background-color: #fff;
    border-radius: 10px;
    color: rgb(9,28,54);
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 50%;
}

.twitter-timeline {
    display:block;
    border-radius: 10px;
    text-align: center;                
    margin: 0 auto 20px auto;
    padding: 10px 10% 50px 10%;
                        }
 
#follow-us {
    float: right;
    margin-left:5%;
    margin-top:30px;
    width: 40%;
    padding-bottom:50px;
                        }
#other-articles {
    width: 55%; 
                        }
                        
@media screen and (max-width:600px) {
    nav ul {

    padding:0 3% 0; 
                            }                        
    nav li {
    display:list-item;              
                            }
    }
    
    #follow-us{
         clear: right;                
    }





=======
a { 
    font-weight:600;
}

p a {
    font-weight:500;
}

>>>>>>> master
}


<<<<<<< HEAD
    margin-bottom: 20px;   
    text-align: center;
=======
    margin-bottom: 20px;
>>>>>>> master
}


